.theBody {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.fixedBar {
    width: 100vw;
    height: 4rem;
    border-bottom: solid #ffffff16;
    border-width: 0.01px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.imgAcley {
    width: 100%;
    height: 100%;
    transform: scale(2.5);
}

.logoAcley {
    margin-left: 2.8rem;
    margin-bottom: .1.8rem;
}

.fixedBar > span > button {
    position: absolute;
    right: 0;
    margin-top: .8rem;
    margin-right: 2.5rem;
    background-color: transparent;
    border: solid #ffffff16;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 4rem;
    border-width: 1.5px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: auto;
    margin-top: 4rem;
    border: solid #ffffff16;
    border-radius: 15px;
    background-color: #0A0A0A;
    color: #fff;
}

.registerContainer > form{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.registerContainer > form > h3 {
    font-size: 2.2rem;
}

.registerContainer > form > input {
    background-color: transparent;
    border: solid #ffffff16;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 17px;
    color: #fff;
}

.registerContainer > form > button {
    border-radius: 10px;
    background-color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 17px;
    cursor: pointer;
}