body {
    background-color: #000;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.main {
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.main > h1 {
    font-size: 3rem;
    font-style: oblique;
    margin-top: 10%
}

.leftSide {
    position: relative;
}

.logo {
    position: absolute;
    top: 2px;
    left: 15px;
    color: #fff;
    display: flex;
    gap: 0.5rem;
}

.logo > h3 {
    position: relative;
    top: -5.5px;
    font-weight: 300;
}

