body {
    background-color: #000;
}

.content {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100vh;
}

.leftSide {
    margin-left: -1rem;
    margin-top: 8rem;
}

.centerSide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centerSide > h2 {
    color: #fff;
}

.centerSide > h2 > input {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.btnCreate {
    background-color: #fff;
    color: #000;
    width: 8rem;
    border: solid #fff;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
}

.acleyLogo {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: -7rem;
}