.menu {
    width: 55%;
    height: auto; 
    max-height: 15rem;
    margin-left: 5rem;
    border: solid #fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    transition: .5s;
    display: grid;
    grid-template-rows: 10% 90%;
    padding: 1rem; 
    gap: 1rem; 
    overflow-y: auto;
    overflow-x: hidden;
}

.topSide {
    display: flex;
    align-items: center;
}

.bottomSide {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.titleDeck {
    margin: 0; 
}

.addDeck {
    margin-left: 40%;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    height: 1.8rem;
    width: 1.8rem;
    text-align: center;
    border: solid transparent;
    border-radius: 10px;
    transition: .5s;
    line-height: 1.8rem; 
}

.addDeck:hover {
    background-color: #3f3e3e;
}

.acleyLogo {
    width: 4rem;
    height: 4rem;
    margin-top: -1.2rem;
}

.inpDeck {
    width: 10rem; 
    height: 1.5rem;
    padding: 0.2rem 0.5rem;
    background-color: #000;
    border: solid #000;
    border-radius: 8px;
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
}

.openMenu {
    width: 2rem;
    height: 1rem;
    border: solid #fff;
    border-radius: 8px;
    border-width: 1.7px;
    cursor: pointer;
    transition: .5s;
}

.openMenu:hover {
    background-color: #3f3e3e;
}

.openMenu > div {
    width: 40%;
    height: 100%;
    border: solid #fff;
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-width: 1.7px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.hide {
    opacity: 0;
    transform: translateX(-100%);
}

.top {
    display: flex;
    position: absolute;
    margin-top: -8rem;
}