.matterCard {
    width: 100%;
    height: auto;
    min-height: 45px;
    padding: 0.75rem 2rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border-bottom: solid #444;
    border-width: 1px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-sizing: border-box;
}

.matterCard:hover {
    background-color: #2a2a2a;
    transform: translateX(5px);
}

.matterName {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.matterStats {
    display: flex;
    gap: 3.5rem;
    align-items: center;
    padding-right: 0.5rem;
}

.matterStats > span {
    font-size: 0.9rem;
    font-weight: 700;
    width: 60px;
    text-align: center;
}

.statNew {
    color: #9c27b0; /* Roxo */
}

.statLearning {
    color: #f44336; /* Vermelho */
}

.statReview {
    color: #4caf50; /* Verde */
}