.container {
    width: 90%;
    height: 65%;
    border: solid #fff;
    border-radius: 15px;
    margin-top: 5rem;
}

.top {
    display: grid;
    grid-template-columns: 50% 50%;
    color: #fff;
    border-bottom: solid #fff;
    width: 100%;
    height: 4rem;
    border-width: .5px;
}

.top > span > h4 {
    margin-left: 3rem;
    margin-top: 2rem;
}

.status  {
    display: flex;
    gap: 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 3rem;
}