.glassBox {
    /* container can be styled if needed */
}

.glassBox > div{
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.glassBox > div svg {
    visibility: hidden;
}

.glassBox:hover > div svg {
    visibility: visible;
}

.tooltipWrapper {
  position: relative;
  display: inline-flex;
  overflow: visible;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #ffffff;
  color: #000000;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;

  position: absolute;
  left: calc(100% + 8px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 999; /* 👈 fica por cima de tudo */

  transition: opacity 0.2s;
}

.tooltipWrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.link {
    text-decoration: none;
    color: inherit;
}