.theBody {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.fixedBar {
    width: 100vw;
    height: 4rem;
    border-bottom: solid #ffffff16;
    border-width: 0.01px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.imgAcley {
    width: 100%;
    height: 100%;
    transform: scale(2.5);
}

.logoAcley {
    margin-left: 2.8rem;
    margin-bottom: .1.8rem;
}

.fixedBar > span > button {
    position: absolute;
    right: 0;
    margin-top: .8rem;
    margin-right: 2.5rem;
    background-color: transparent;
    border: solid #ffffff16;
    padding: 10px;
    border-radius: 10px;
    width: 6rem;
    border-width: 1.5px;
    cursor: pointer;
}

.fixedBar > span > button > a {
    color: #fff;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: auto;
    margin-top: 4rem;
    border: solid #ffffff16;
    border-radius: 15px;
    background-color: #0A0A0A;
    color: #fff;
}

.containerSignIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
}

.containerSignIn > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.containerSignIn > form > h3 {
    font-size: 2.2rem;
}

.containerSignIn > form > input {
    background-color: transparent;
    border: solid #ffffff16;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 17px;
    color: #fff;
    font-size: 1.1rem;
    width: 25rem;
}

.containerSignIn > form > button {
    border-radius: 10px;
    background-color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 17px;
    cursor: pointer;
    width: 25rem;
}

@media (max-width: 480px) {
    .containerSignIn > form > button {
        width: 85%;
    }
}

.error {
    color: red;
    margin-bottom: 1rem;
}

@media (max-width: 480px) {
    .fixedBar {
        width: 100%;
    }

    .content {
        width: 80%;
    }

    .containerSignIn {
        width: 100%;
        height: 100%;
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerSignIn > form > input {
        width: 85%;
    }
}